<div id="membersPage">
  <app-header></app-header>

  <div class="container">
    <div class="initial">
      <h2>Membros:</h2>
      <app-my-button customClass="green members-page" text="Cadastrar novo membro" customValue="cadastrarMembro" ></app-my-button>
    </div>

    <div class="members">
      <div class="member">
        <div class="member-info">
          <div class="member-personal-information">
            <div>
              <img src="../../../assets/person.jpg" alt="Member photo">

              <div class="member-name">
                <label>Membro:</label>
                <span>Luísa Sousa</span>
              </div>
            </div>

            <div class="member-birth-date">
              <label>Data de nascimento:</label>
              <span>00/00/0000</span>
            </div>
          </div>

          <div class="allowance">
            <label>Valor da mesada:</label>
            <span>R$ 100,00</span>
          </div>
        </div>
        <div class="member-actions">
          <app-my-button customClass="orange members-page" text= "Excluir"></app-my-button>
          <app-my-button customClass="light-green members-page" text= "Editar"></app-my-button>
          <app-my-button customClass="green members-page" text= "Ver lista"></app-my-button>
        </div>
      </div>
      <div class="member">
        <div class="member-info">
          <div class="member-personal-information">
            <div>
              <img src="../../../assets/person.jpg" alt="Member photo">

              <div class="member-name">
                <label>Membro:</label>
                <span>Luísa Sousa</span>
              </div>
            </div>

            <div class="member-birth-date">
              <label>Data de nascimento:</label>
              <span>00/00/0000</span>
            </div>
          </div>

          <div class="allowance">
            <label>Valor da mesada:</label>
            <span>R$ 100,00</span>
          </div>
        </div>
        <div class="member-actions">
          <app-my-button customClass="orange members-page" text= "Excluir"></app-my-button>
          <app-my-button customClass="light-green members-page" text= "Editar"></app-my-button>
          <app-my-button customClass="green members-page" text= "Ver lista"></app-my-button>
        </div>
      </div>
      <div class="member">
        <div class="member-info">
          <div class="member-personal-information">
            <div>
              <img src="../../../assets/person.jpg" alt="Member photo">

              <div class="member-name">
                <label>Membro:</label>
                <span>Luísa Sousa</span>
              </div>
            </div>

            <div class="member-birth-date">
              <label>Data de nascimento:</label>
              <span>00/00/0000</span>
            </div>
          </div>

          <div class="allowance">
            <label>Valor da mesada:</label>
            <span>R$ 100,00</span>
          </div>
        </div>
        <div class="member-actions">
          <app-my-button customClass="orange members-page" text= "Excluir"></app-my-button>
          <app-my-button customClass="light-green members-page" text= "Editar"></app-my-button>
          <app-my-button customClass="green members-page" text= "Ver lista"></app-my-button>
        </div>
      </div>
      <div class="member">
        <div class="member-info">
          <div class="member-personal-information">
            <div>
              <img src="../../../assets/person.jpg" alt="Member photo">

              <div class="member-name">
                <label>Membro:</label>
                <span>Luísa Sousa</span>
              </div>
            </div>

            <div class="member-birth-date">
              <label>Data de nascimento:</label>
              <span>00/00/0000</span>
            </div>
          </div>

          <div class="allowance">
            <label>Valor da mesada:</label>
            <span>R$ 100,00</span>
          </div>
        </div>
        <div class="member-actions">
          <app-my-button customClass="orange members-page" text= "Excluir"></app-my-button>
          <app-my-button customClass="light-green members-page" text= "Editar"></app-my-button>
          <app-my-button customClass="green members-page" text= "Ver lista"></app-my-button>
        </div>
      </div>
      <div class="member">
        <div class="member-info">
          <div class="member-personal-information">
            <div>
              <img src="../../../assets/person.jpg" alt="Member photo">

              <div class="member-name">
                <label>Membro:</label>
                <span>Luísa Sousa</span>
              </div>
            </div>

            <div class="member-birth-date">
              <label>Data de nascimento:</label>
              <span>00/00/0000</span>
            </div>
          </div>

          <div class="allowance">
            <label>Valor da mesada:</label>
            <span>R$ 100,00</span>
          </div>
        </div>
        <div class="member-actions">
          <app-my-button customClass="orange members-page" text= "Excluir"></app-my-button>
          <app-my-button customClass="light-green members-page" text= "Editar"></app-my-button>
          <app-my-button customClass="green members-page" text= "Ver lista"></app-my-button>
        </div>
      </div>
      <div class="member">
        <div class="member-info">
          <div class="member-personal-information">
            <div>
              <img src="../../../assets/person.jpg" alt="Member photo">

              <div class="member-name">
                <label>Membro:</label>
                <span>Luísa Sousa</span>
              </div>
            </div>

            <div class="member-birth-date">
              <label>Data de nascimento:</label>
              <span>00/00/0000</span>
            </div>
          </div>

          <div class="allowance">
            <label>Valor da mesada:</label>
            <span>R$ 100,00</span>
          </div>
        </div>
        <div class="member-actions">
          <app-my-button customClass="orange members-page" text= "Excluir"></app-my-button>
          <app-my-button customClass="light-green members-page" text= "Editar"></app-my-button>
          <app-my-button customClass="green members-page" text= "Ver lista"></app-my-button>
        </div>
      </div>
      <div class="member">
        <div class="member-info">
          <div class="member-personal-information">
            <div>
              <img src="../../../assets/person.jpg" alt="Member photo">

              <div class="member-name">
                <label>Membro:</label>
                <span>Luísa Sousa</span>
              </div>
            </div>

            <div class="member-birth-date">
              <label>Data de nascimento:</label>
              <span>00/00/0000</span>
            </div>
          </div>

          <div class="allowance">
            <label>Valor da mesada:</label>
            <span>R$ 100,00</span>
          </div>
        </div>
        <div class="member-actions">
          <app-my-button customClass="orange members-page" text= "Excluir"></app-my-button>
          <app-my-button customClass="light-green members-page" text= "Editar"></app-my-button>
          <app-my-button customClass="green members-page" text= "Ver lista"></app-my-button>
        </div>
      </div>
    </div>
  </div>






  <app-modal customId="cadastrarMembro" customTitle="Cadastrar novo membro">
    <ng-template #content>
      <div id="divCadastrarMembro">
        <p>
          Insira os dados abaixo para cadastrar um novo membro ao RIOTT.
        </p>

        <form [formGroup]="form">

          <div class="field">
            <input
                type="file"
                id="foto"
                formControlName="foto"
                (change)="fileChangeEvent($event)"
            >
          
            <div id="uploadFoto" (drop)="getFileDrop()">
              <div>
                <img src="../../../assets/file.ico">
              </div>
              <p>Arraste ou <label for="foto">clique aqui</label> para fazer o upload da <b>foto do usuário</b></p>
            </div>
          </div>
          
          <div class="field">
              <input
                  type="string"
                  id="nome"
                  placeholder=" "
                  formControlName="nome"
              >
              <label for="nome">Nome do membro</label>
          </div>

          <div class="field">
              <input
                  type="date"
                  id="dataNascimento"
                  placeholder=" "
                  formControlName="dataNascimento"
                  (click)="labelUp()"
                  (blur)="onChange()"
              >
              <label id="dateLabel" for="dataNascimento">Data de nascimento</label>
          </div>

          <div class="field">
            <input
                type="number"
                id="valorMesada"
                placeholder=" "
                formControlName="valorMesada"
            >
            <label for="valorMesada">Valor da mesada</label>
          </div>
      
          <app-my-button [disabled]="form.invalid" customClass="light-gray green members-page" text="Cadastrar membro" (click)="cadastrarMembro()" ></app-my-button>
        </form>
        <app-my-button customClass="orange members-page" text="Cancelar"></app-my-button>
      </div>

      <div id="divSucessMsg">
        <app-dialog-box customClassSucess="showElement" text="Membro editado com sucesso!" textButton="Finalizar"></app-dialog-box>
      </div>

      <div id="divErrorMsg">
        <app-dialog-box customClassError="showElement" text="Algo deu errado" textButton="Tentar novamente"></app-dialog-box>
      </div>

      <div id="divWarningMsg">
        <app-dialog-box customClassWarning="showElement" text="Deseja realmente interromper o cadastro?" textButton="Confirmar ação"></app-dialog-box>
      </div>
    </ng-template>
  </app-modal>
</div>