<app-header></app-header>

<div class="container">
    <div class="lists">
        <div class="initial">
            <h2>Listas:</h2>
        </div>

        <div class="members">
            <div class="member selected">
                <div class="member-photo">
                    <img src="../../../assets/person.jpg" alt="Member photo">
                </div>
                
                <div class="member-info">
                    <div class="member-name">
                        <span>Luísa Sousa</span>
                    </div>

                    <div class="member-allowance-information">
                        <div>
                            <label>Mesada:</label>
                            <span>R$ 1000,00</span>
                        </div>
                        <div>
                            <label>Decontos:</label>
                            <span>-R$ 300,00</span>
                        </div>
                        <div>
                            <label>Total:</label>
                            <span>R$ 700,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member">
                <div class="member-photo">
                    <img src="../../../assets/person.jpg" alt="Member photo">
                </div>
                
                <div class="member-info">
                    <div class="member-name">
                        <span>Luísa Sousa</span>
                    </div>

                    <div class="member-allowance-information">
                        <div>
                            <label>Mesada:</label>
                            <span>R$ 1000,00</span>
                        </div>
                        <div>
                            <label>Decontos:</label>
                            <span>-R$ 300,00</span>
                        </div>
                        <div>
                            <label>Total:</label>
                            <span>R$ 700,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member">
                <div class="member-photo">
                    <img src="../../../assets/person.jpg" alt="Member photo">
                </div>
                
                <div class="member-info">
                    <div class="member-name">
                        <span>Luísa Sousa</span>
                    </div>

                    <div class="member-allowance-information">
                        <div>
                            <label>Mesada:</label>
                            <span>R$ 1000,00</span>
                        </div>
                        <div>
                            <label>Decontos:</label>
                            <span>-R$ 300,00</span>
                        </div>
                        <div>
                            <label>Total:</label>
                            <span>R$ 700,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-my-button customClass="light-green lists-page" text="Gerenciar listas" ></app-my-button>
    </div>

    <div class="gap"></div>

    <div class="list-activities">
        <h2 class="title-list">Lista:</h2>

        <div class="main">
            <div class="activities">
                <div class="activity">
                    <div class="activity-info">
                        <div class="description">
                            <label>Descrição da atividade:</label>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                    <div class="action">
                        <div class="value">
                            <label>Valor:</label>
                            <span>R$ 15,00</span>
                        </div>
        
                        <!-- <app-my-button customClass="orange lists-page" text="Marcar falta"></app-my-button> -->
                        <app-my-button customClass="background-orange lists-page" text="Faltou"></app-my-button>
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-info">
                        <div class="description">
                            <label>Descrição da atividade:</label>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                    <div class="action">
                        <div class="value">
                            <label>Valor:</label>
                            <span>R$ 15,00</span>
                        </div>
                        
                        <app-my-button customClass="orange lists-page" text="Marcar falta"></app-my-button>
                        <!-- <app-my-button customClass="background-orange lists-page" text="Faltou"></app-my-button> -->
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-info">
                        <div class="description">
                            <label>Descrição da atividade:</label>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                    <div class="action">
                        <div class="value">
                            <label>Valor:</label>
                            <span>R$ 25,00</span>
                        </div>
                        
                        <!-- <app-my-button customClass="orange lists-page" text="Marcar falta"></app-my-button> -->
                        <app-my-button customClass="background-orange lists-page" text="Faltou"></app-my-button>
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-info">
                        <div class="description">
                            <label>Descrição da atividade:</label>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                    <div class="action">
                        <div class="value">
                            <label>Valor:</label>
                            <span>R$ 20,00</span>
                        </div>
                        
                        <app-my-button customClass="orange lists-page" text="Marcar falta"></app-my-button>
                        <!-- <app-my-button customClass="background-orange lists-page" text="Faltou"></app-my-button> -->
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-info">
                        <div class="description">
                            <label>Descrição da atividade:</label>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                    <div class="action">
                        <div class="value">
                            <label>Valor:</label>
                            <span>R$ 5,00</span>
                        </div>
                        
                        <!-- <app-my-button customClass="orange lists-page" text="Marcar falta"></app-my-button> -->
                        <app-my-button customClass="background-orange lists-page" text="Faltou"></app-my-button>
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-info">
                        <div class="description">
                            <label>Descrição da atividade:</label>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                    <div class="action">
                        <div class="value">
                            <label>Valor:</label>
                            <span>R$ 30,00</span>
                        </div>
                        
                        <!-- <app-my-button customClass="orange lists-page" text="Marcar falta"></app-my-button> -->
                        <app-my-button customClass="background-orange lists-page" text="Faltou"></app-my-button>
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-info">
                        <div class="description">
                            <label>Descrição da atividade:</label>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                    <div class="action">
                        <div class="value">
                            <label>Valor:</label>
                            <span>R$ 15,00</span>
                        </div>
                        
                        <!-- <app-my-button customClass="orange lists-page" text="Marcar falta"></app-my-button> -->
                        <app-my-button customClass="background-orange lists-page" text="Faltou"></app-my-button>
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-info">
                        <div class="description">
                            <label>Descrição da atividade:</label>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                    <div class="action">
                        <div class="value">
                            <label>Valor:</label>
                            <span>R$ 15,00</span>
                        </div>
                        
                        <app-my-button customClass="orange lists-page" text="Marcar falta"></app-my-button>
                        <!-- <app-my-button customClass="background-orange lists-page" text="Faltou"></app-my-button> -->
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-info">
                        <div class="description">
                            <label>Descrição da atividade:</label>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                    <div class="action">
                        <div class="value">
                            <label>Valor:</label>
                            <span>R$ 25,00</span>
                        </div>
                        
                        <!-- <app-my-button customClass="orange lists-page" text="Marcar falta"></app-my-button> -->
                        <app-my-button customClass="background-orange lists-page" text="Faltou"></app-my-button>
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-info">
                        <div class="description">
                            <label>Descrição da atividade:</label>
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                    <div class="action">
                        <div class="value">
                            <label>Valor:</label>
                            <span>R$ 20,00</span>
                        </div>
                        
                        <app-my-button customClass="orange lists-page" text="Marcar falta"></app-my-button>
                        <!-- <app-my-button customClass="background-orange lists-page" text="Faltou"></app-my-button> -->
                    </div>
                </div>
            </div>

            <div class="transparent"></div>
    
            <div class="finalize">
                <div class="lacks">
                    <label>Total de faltas:</label>
                    <span><b>12</b></span>
                </div>
        
                <div class="bar"></div>
        
                <div class="money">
                    <div class="allowance">
                        <label>Mesada:</label>
                        <span>R$ 1.000,00</span>
                    </div>
    
                    <div class="minus"><b>-</b></div>
    
                    <div class="discount">
                        <label>Descontos:</label>
                        <span>R$ 300,00</span>
                    </div>
                    
                    <div class="equals"><b>=</b></div>
    
                    <div class="total">
                        <label>Total:</label>
                        <span>R$ 700,00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>