<div id="pageLists">
  <app-header></app-header>

  <div class="container">
    <div class="list-members">
      <div class="main">
        <div *ngIf="members?.length > 0" class="initial">
          <h2>Listas:</h2>
        </div>

        <div class="members">
          <div *ngFor="let member of members" id="{{ member.id }}" class="member"
            [ngClass]="{'selected': member.id === members[0].id}" (click)="select(member)">

            <div class="member-photo">
              <img src="data:image/png;base64,{{ member.photo }}" alt="Member photo">
            </div>

            <div class="member-info">
              <div class="member-name">
                <span>{{ member.name }}</span>
              </div>

              <div class="member-allowance-information">
                <div>
                  <label>Mesada:</label>
                  <span>{{ member.allowance | currency : 'BRL' }}</span>
                </div>
                <div>
                  <label>Decontos:</label>
                  <span>-{{ member.currentListResult.totalDebit | currency : 'BRL' }}</span>
                </div>
                <div>
                  <label>Total:</label>
                  <span>{{ member.allowance - member.currentListResult.totalDebit | currency : 'BRL' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="members?.length > 0" id="button">
        <app-my-button customClass="light-green lists-page" text="Gerenciar listas" (click)="OpenManageListsModal()">
        </app-my-button>
      </div>
    </div>

    <div class="gap"></div>

    <div class="list-activities">
      <h2 *ngIf="list" class="title-list">Lista:</h2>

      <div class="main">
        <div *ngIf="tasks" class="activities" [ngClass]="{'no-list': !list}">
          <div *ngFor="let task of tasks" class="activity">
            <div class="activity-info">
              <div class="description">
                <label>Descrição da atividade:</label>
                <span>{{ task.content.description }}</span>
              </div>
            </div>
            <div class="action">
              <div class="value">
                <label>Valor:</label>
                <span>{{ task.value | currency : 'BRL' }}</span>
              </div>

              <app-my-button *ngIf="task.isMissed == false" customClass="orange lists-page" text="Marcar falta"
                (click)="toggleMissed(task)">
              </app-my-button>
              <app-my-button *ngIf="!task.isMissed == false" customClass="background-orange lists-page" text="Faltou"
                (click)="toggleMissed(task)">
              </app-my-button>
            </div>
          </div>
        </div>

        <div *ngIf="!list && members?.length > 0" class="no-list-container">
          <div class="no-list">
            <div class="warning-image">
              <img src="../../../assets/warning1.ico" alt="aviso1">
              <img src="../../../assets/warning2.ico" alt="aviso2">
            </div>
            
            <p>Este membro não possui lista configurada</p>
          </div>
        </div>

        <div *ngIf="members?.length === 0" class="no-list-container">
          <div class="no-list">
            <div class="warning-image">
              <img src="../../../assets/warning1.ico" alt="aviso1">
              <img src="../../../assets/warning2.ico" alt="aviso2">
            </div>
            
            <p>Não há membros cadastrados. Por isso, aqui está vazio.</p>
          </div>
        </div>

        <div class="transparent"></div>

        <div *ngIf="list" class="finalize">
          <div class="lacks">
            <label>Total de faltas:</label>
            <span><b>{{ lacks }}</b></span>
          </div>

          <div class="bar"></div>

          <div class="money">
            <div class="allowance">
              <label>Mesada:</label>
              <span>{{ allowance | currency : 'BRL' }}</span>
            </div>

            <div class="minus"><b>-</b></div>

            <div class="discount">
              <label>Descontos:</label>
              <span>{{ totalDiscount | currency : 'BRL' }}</span>
            </div>

            <div class="equals"><b>=</b></div>

            <div class="total">
              <label>Total:</label>
              <span>{{ allowance - totalDiscount | currency : 'BRL' }}</span>
            </div>
          </div>

          <div class="action">
            <app-my-button customClass="green lists-page" text="Finalizar lista" (click)="OpenFinalizeListModal()">
            </app-my-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal of finalize list -->
  <app-modal customId="finalize-list" customTitle="">
    <ng-template #content>
      <div id="warningMsgFinalizeList">
        <app-dialog-box (callParent)="finalizeList(list)" customClassWarning="showElement"
          text="Deseja realmente finalizar essa lista?" textButton="Confirmar e finalizar lista" closeAll="true">
          <ng-template #contentDialogBox>
            <div class="gap" style="margin-top: 1.7rem;"></div>

            <div *ngIf="currentMemberFinalize" class="member">
              <div class="member-information">
                <img src="data:image/png;base64,{{ currentMemberFinalize.photo }}" alt="Member photo" width="40px">

                <div class="member-name">
                  <label>Membro:</label>
                  <span>{{ currentMemberFinalize.name }}</span>
                </div>
              </div>
            </div>

            <div class="gap"></div>

            <div class="list-information">
              <div class="lacks">
                <label>Total de faltas:</label>
                <span>{{ lacks }}</span>
              </div>
              <div class="allowance">
                <label>Mesada:</label>
                <span>{{ allowance | currency : 'BRL' }}</span>
              </div>
              <div class="discount">
                <label>Desconto:</label>
                <span>{{ totalDiscount | currency : 'BRL' }}</span>
              </div>
              <div class="total">
                <label>Total:</label>
                <span>{{ allowance - totalDiscount | currency : 'BRL' }}</span>
              </div>
            </div>
          </ng-template>
        </app-dialog-box>
      </div>

      <div id="sucessMsgFinalizeList">
        <app-dialog-box customClassSucess="showElement" text="Lista finalizada com sucesso!" closeAll="true">
        </app-dialog-box>
      </div>
    </ng-template>
  </app-modal>

  <app-modal customId="manageLists" customTitle="Gerenciar listas">
    <ng-template #content>
      <div class="container-manage-lists">
        <h2>Membros ativos</h2>
        <div *ngIf="members" class="members">
          <div *ngFor="let member of members" id="{{ member.id }}manage" class="member"
            (click)="selectInManageList(member)">
            <div class="member-photo">
              <img width="40px" src="data:image/png;base64,{{ member.photo }}" alt="Member photo">
            </div>

            <div class="member-info">
              <label>Membro:</label>
              <span>{{ member.name }}</span>
            </div>
          </div>
        </div>

        <div *ngIf="allTasks?.length > 0" class="list-initial">
          <h2>Atividades:</h2>

          <div class="container-activities">
            <div *ngIf="tasksManage" class="activities">
              <div *ngFor="let task of allTasks" class="activity" id="task.id">
                <div class="description">
                  <label>Descrição da atividade:</label>
                  <span>{{ task.description }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!allTasks?.length > 0" class="no-list-container smaller">
          <div class="no-list">
            <div>
              <div class="warning-image">
                <img src="../../../assets/warning1.ico" alt="aviso1">
                <img src="../../../assets/warning2.ico" alt="aviso2">
              </div>
              
              <p>Não há atividades cadastradas. Por isso, aqui está vazio.</p>
            </div>
          </div>
        </div>

        <div *ngIf="!listManageData" id="no-list-container-display" class="no-list-container">
          <div class="no-list">
            <div>
              <div class="warning-image">
                <img src="../../../assets/warning1.ico" alt="aviso1">
                <img src="../../../assets/warning2.ico" alt="aviso2">
              </div>
              
              <p>Este membro não possui lista configurada</p>
            </div>

            <app-my-button id="button" customClass="green login-page" text="Criar lista" (click)="showCreateList()"></app-my-button>
          </div>
        </div>

        <div *ngIf="listManageData" style="display: none;" id="list" class="list">
          <div class="list-information">
            <div class="list-status">
              <label>Status da lista:</label>
              <span class="{{ listManageData.state }}">{{ statesList[listManageData.state] }}</span>
            </div>

            <div class="list-actions">
              <app-my-button customClass="orange members-page" text="Excluir" (click)="removeList(listManageData.id)" ></app-my-button>
              <app-my-button *ngIf="listManageData.state == 'ONHOLD'" customClass="light-green members-page"
                text="Editar"></app-my-button>
              <app-my-button *ngIf="listManageData.state == 'ONHOLD'" customClass="green members-page"
                text="Iniciar lista"></app-my-button>
            </div>
          </div>

          <div *ngIf="listManageData" class="gap"></div>

          <div *ngIf="tasksManage?.length > 0" class="container-activities">
            <h2>Atividades:</h2>

            <div *ngIf="tasksManage" class="activities">
              <div *ngFor="let task of tasksManage" class="activity" id="task.id">
                <div class="description">
                  <label>Descrição da atividade:</label>
                  <span>{{ task.content.description }}</span>
                </div>
                <div class="discount-value">
                  <label>Valor do desconto:</label>
                  <span>{{ task.value | currency : 'BRL' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="warningMsgInitList">
        <app-dialog-box
            (callParent)="confirmInit($event)"
            customClassWarning="showElement"
            text="Deseja realmente iniciar essa lista?"
            textButton="Confirmar e iniciar a lista"
            closeAll="false">
        </app-dialog-box>
      </div>

      <div id="sucessMsgInitList">
        <app-dialog-box
            customClassSucess="showElement"
            text="Lista iniciada com sucesso!"
            closeAll="true">
        </app-dialog-box>
      </div>

      <div id="errorMsgInitList">
        <app-dialog-box
            customClassError="showElement"
            text="Algo deu errado"
            closeAll="true"
            divAtual="errorMsgInitList"
            divPrincipal="contentInitList">
        </app-dialog-box>
      </div>

      <div id="warningMsgDeleteList">
        <app-dialog-box
            (callParent)="confirmDelete($event)"
            customClassWarning="showElement"
            text="Deseja realmente excluir essa lista?"
            textButton="Confirmar e excluir a lista"
            closeAll="false">
        </app-dialog-box>
      </div>

      <div id="sucessMsgDeleteList">
        <app-dialog-box
            customClassSucess="showElement"
            text="Lista excluida com sucesso!"
            closeAll="true">
        </app-dialog-box>
      </div>

      <div id="errorMsgDeleteList">
        <app-dialog-box
            customClassError="showElement"
            text="Algo deu errado"
            closeAll="true"
            divAtual="errorMsgDeleteList"
            divPrincipal="contentDeleteList">
        </app-dialog-box>
      </div>
    </ng-template>
  </app-modal>

  <div id="divcreateList">
    <app-modal customId="createList" customTitle="Criar nova lista">
      <ng-template #content>
        <div id="contentCreateList">
          <div>
            <form [formGroup]="form">
              <div class="field">
                <input
                    type="string"
                    id="name"
                    placeholder=" "
                    formControlName="name"
                >
                  <label for="name">Nome da lista <span class="required">*</span></label>
              </div>
              
              <div class="member-container">
                <div *ngIf="currentMemberManage" id="{{ currentMemberManage.id }}create" class="member"
                  (click)="selectInCreateList(currentMemberManage)">
                  <div class="member-photo">
                    <img width="40px" src="data:image/png;base64,{{ currentMemberManage.photo }}" alt="Member photo">
                  </div>
  
                  <div class="member-info">
                    <label>Membro:</label>
                    <span>{{ currentMemberManage.name }}</span>
                  </div>
                </div>
              </div>
  
              <div class="activities-container">
                <h2>Selecione as atividades e defina seus valores:</h2>
  
                <div *ngIf="allTasks" class="activities">
                  <div *ngFor="let task of allTasks" class="activity" id="{{ task.id }}">
                    <div>
                      <div class="checkbox">
                        <input type="checkbox" id="task" name="task" (change)="onCheckChange($event, task.id)">
                      </div>

                      <div class="description">
                        <label>Descrição da atividade:</label>
                        <span>{{ task.description }}</span>
                      </div>
                    </div>

                    <div class="field-discount-value">
                      <input
                        type="string"
                        id="{{ task.id }}task-create-modal"
                        placeholder=" "
                      >
                      <label for="tasks">Valor do desconto:</label>
                    </div>
                  </div>
                </div>
              </div>

              <button [disabled]="!tasksToCreate || !form.controls['name'].value" (click)="createList()">Submit</button>
            </form>
          </div>
        </div>

        <div id="sucessMsgCreateList">
          <app-dialog-box
              customClassSucess="showElement"
              text="Lista criada com sucesso!"
              closeAll="true">
          </app-dialog-box>
        </div>

        <div id="errorMsgCreateList">
          <app-dialog-box
              customClassError="showElement"
              text="Algo deu errado"
              closeAll="true"
              divAtual="errorMsgCreateList"
              divPrincipal="contentCreateList">
          </app-dialog-box>
        </div>
      </ng-template>
    </app-modal>
  </div>

  <div id="diveditList">
    <app-modal customId="editList" customTitle="Editar lista">
      <ng-template #content>
        <div id="contentEditList">

        </div>

        <div id="sucessMsgEditList">
          <app-dialog-box
              customClassSucess="showElement"
              text="Lista salva com sucesso!"
              closeAll="true">
          </app-dialog-box>
        </div>
      </ng-template>
    </app-modal>
  </div>
</div>