<app-header></app-header>

<div class="container">
    <div class="lists">
        <div class="initial">
            <h2>Listas:</h2>
        </div>

        <div class="members">
            <div class="member selected">
                <div class="member-photo">
                    <img src="../../../assets/person.jpg" alt="Member photo">
                </div>
                
                <div class="member-info">
                    <div class="member-name">
                        <span>Luísa Sousa</span>
                    </div>

                    <div class="member-allowance-information">
                        <div>
                            <label>Mesada:</label>
                            <span>R$ 1000,00</span>
                        </div>
                        <div>
                            <label>Decontos:</label>
                            <span>-R$ 300,00</span>
                        </div>
                        <div>
                            <label>Total:</label>
                            <span>R$ 700,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member">
                <div class="member-photo">
                    <img src="../../../assets/person.jpg" alt="Member photo">
                </div>
                
                <div class="member-info">
                    <div class="member-name">
                        <span>Luísa Sousa</span>
                    </div>

                    <div class="member-allowance-information">
                        <div>
                            <label>Mesada:</label>
                            <span>R$ 1000,00</span>
                        </div>
                        <div class="negative">
                            <label>Decontos:</label>
                            <span>-R$ 300,00</span>
                        </div>
                        <div>
                            <label>Total:</label>
                            <span>R$ 700,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member">
                <div class="member-photo">
                    <img src="../../../assets/person.jpg" alt="Member photo">
                </div>
                
                <div class="member-info">
                    <div class="member-name">
                        <span>Luísa Sousa</span>
                    </div>

                    <div class="member-allowance-information">
                        <div>
                            <label>Mesada:</label>
                            <span>R$ 1000,00</span>
                        </div>
                        <div>
                            <label>Decontos:</label>
                            <span>-R$ 300,00</span>
                        </div>
                        <div>
                            <label>Total:</label>
                            <span>R$ 700,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-my-button customClass="light-green lists-page" text="Gerenciar listas" ></app-my-button>
    </div>

    <div class="gap"></div>

    <div class="activities">
        <h2 class="title-list">Lista:</h2>
    </div>
</div>