<div id="container">
    <div id="img">
        <h1 class="phrase">Seu time em harmonia.</h1>
    </div>

    <div id="form">
        <h1 class="title">RIOTT</h1>

        <p class="description">Controle as tarefas e mesada dos seus filhos para manter a casa em harmonia.</p>

        <form [formGroup]="form">
            <div class="field">
                <input
                    type="string"
                    id="email"
                    placeholder=" "
                    formControlName="email"
                >
                <label for="email">E-mail</label>
            </div>
            <div class="field">
                <input
                    type="password"
                    id="password"
                    placeholder=" "
                    minlength="8"
                    maxlength="100"
                    formControlName="password"
                >
                <label for="password">Senha</label>
            </div>
        
            <button [disabled]="form.invalid" (click)="login">Entrar</button>
        </form>
    </div>
</div>
