<div id="header">
    <h1>RIOTT</h1>
    <nav id="menu">
        <a routerLink="/pages/lists" routerLinkActive="active">Listas<div routerLinkActive="underline"></div></a>
        <a routerLink="/pages/history" routerLinkActive="active">Histórico<div routerLinkActive="underline"></div></a>
        <a routerLink="/pages/tasks" routerLinkActive="active">Atividades<div routerLinkActive="underline"></div></a>
        <a routerLink="/pages/members" routerLinkActive="active">Membros<div routerLinkActive="underline"></div></a>
        <a routerLink="/pages/login" (click)="logout()" id="sair">Sair</a>
    </nav>
</div>