<div id="header">
    <h1>RIOTT</h1>
    <nav id="menu">
        <a href="http://localhost:4200/pages/lists" class="{{ customLists }}">Listas<div class="{{customListsLine}}"></div></a>
        <a href="http://localhost:4200/pages/history" class="{{ customHistory }}">Histórico<div class="{{customHistoryLine}}"></div></a>
        <a href="http://localhost:4200/pages/tasks" class="{{ customTasks }}">Atividades<div class="{{customTasksLine}}"></div></a>
        <a href="http://localhost:4200/pages/members" class="{{ customMembers }}">Membros<div class="{{customListsMembers}}"></div></a>
        <a href="http://localhost:4200/pages/login" id="sair">Sair</a>
    </nav>
</div>