#shadow{
  pointer-events: none;
  position: absolute;
  width: calc(100% - 30px);
  height: 86px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 62.32%);
}